@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color:#05386B;
    border-radius: 10px;
    color: #5CDB95;
    text-align: center;
    padding: 3%;
    margin: 0% 10%;
}

.image {
    border-radius: 50%;
    border: 2px solid rgb(186, 180, 180);
}


a:link {
    color: #EDF5E1;
    text-shadow: #05386B 1px 2px 3px;
}

a:visited {
    color: #EDF5E1;
}

a:hover {
    text-decoration: none;
}

ul.menu {
    list-style-type: none;
}

body {
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 5% 0% 3% 0% !important;
}

h1{
    text-shadow: #ffffff 2px 1px 1px;
    letter-spacing:5px;
}

h3{
    margin:1% 0%;
}

.container{
    display: block;
    margin: 0% 10%;
    background-color: aquamarine;
    padding: 6%;
}
