@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url(https://i.ibb.co/2hkcc8r/dylan-shaw-12-R-zn-Wt-JHQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #05386b;
  margin: 0% 10%;
  padding-bottom: 3%;
  border-radius: 10px 10px 0px 0px;
  color: #bcc4c0;
  text-align: center;
}

.header {
  margin: 0% 7%;
  display: flex;
  padding-top: 5%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.headertxt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  border-radius: 50%;
  border: 2px solid rgb(186, 180, 180);
}

a:link {
  color: #edf5e1;
  text-shadow: #05386b 1px 2px 3px;
}

a:visited {
  color: #edf5e1;
}

a:hover {
  text-decoration: none;
}

ul.menu {
  list-style-type: none;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}

h2 {
  margin: 0% 0% 3% 0% !important;
  padding-top: 5%;
}

h1 {
  text-shadow: #ffffff 2px 1px 1px;
  letter-spacing: 5px;
}

h3 {
  margin: 1% 0%;
}

.container {
  background-color: #f3f5f2;
  background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: block;
  margin: 0% 10%;
  padding: 6%;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a {
  padding: 10px;
  margin-bottom: 10px;
}

.menu a:hover {
  background-color: #1864af;
}

nav {
  background-color: #05386b;
  margin: 0% 10%;
  padding: 10px 0px;
  position: sticky;
  top: 0%;
}

footer {
  background-color: #05386b;
  margin: -5% 10% 0% 10%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 0% 0% 5% 0%;
  color: #d9dbda;
}

footer a {
  color: #dce2dfcd !important;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.UWC-desc {
  margin-bottom: 10%;
  font-style: italic;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mrd-desc {
  margin-bottom: 10%;
  font-style: italic;
}

h3 {
  padding-right: 15%;
}

article ul {
  margin-bottom: 5%;
}

#contact {
    text-shadow: #ffffff 2px 1px 1px;
}

.description {
  font-style: italic;
}

fieldset {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 300px) {
  header {
    margin: 0;
  }

  .container {
    margin: 0;
  }

  footer {
    margin: 0;
  }

  nav {
    margin: 0;
  }
  
  .menu a {
    padding: 5px;
  }
}

@media screen and (max-width: 770px) {
   header {
    margin: 0;
  }

  .container {
    margin: 0;
  }

  footer {
    margin: 0;
  }

  nav {
    margin: 0;
  }
}